#Atlas
MONGO_URL = mongodb+srv://vikas:vikas_01@cluster0.oxhvq4m.mongodb.net/?appName=Cluster0


JWT_SECRET = 7f3d9a8c2e4b1f6d9e8a7c5b3f1d4e6a9b2c7d8f3e1a5b6c9d4e7f2a8b1c5d9

# PAYMENT GATE WAY BRAINTREE
BRAINTREE_MERCHANT_ID = k6nfxy6r7rvrgr9b

BRAINTREE_PUBLIC_KEY = 3g6y5kvxs2zt6sh2

BRAINTREE_PRIVATE_KEY = 6ec73bcec835d469a15f43562283aa8b

NODE_ENV_CUSTOM=devolopment #development or production

SERVER_URL=https://mern-travel-tourism-app-main.vercel.app/